* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
    color: peru;
}

button {
    background-color: blueviolet;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button a {
    color: white;
}

button:hover {
    background-color: white;
    transform: scale(1.05);
}

button:hover a {
    color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container a {
    color: white;
    text-decoration: none;
}
.container a:hover {
    color: blueviolet;
}